<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-list class="projects-list">
    <md-subheader>
      Date: {{ editionDate }}
    </md-subheader>
    <md-item ng-repeat="it in projects">
      <md-item-content>
        <md-button ui-sref="projectInfo({editionDate: editionDate, projectName: it.name})" ng-class="{'selected' : it === selected }">
          <img ng-src="{{it.iconurl}}" class="face">
          <span>{{ it.name }}</span>
          <span class="badge">{{ it.eventsCount }}</span>
        </md-button>
      </md-item-content>
    </md-item>
  </md-list>
</md-sidenav>
<div layout="column" flex class="content-wrapper" id="primary-col" ng-if="!!selected">
  <md-toolbar class="md-primary" md-scroll-shrink layout="row" layout-align="start center">
    <img ng-src="{{selected.iconurl}}" class="face">
    <span>
      {{selected.name}}
      <a ng-href="https://github.com/{{ selected.name }}" target="_blank" title="Open in GitHub">
        <md-icon class="material-icons">link</md-icon>
      </a>
    </span>
  </md-toolbar>
  <md-content layout="column" flex class="md-padding">
    <p style="font-size: 30px;">Fill me up with data for {{selected.name}}</p>
  </md-content>
</div>
<div layout="column" flex class="content-wrapper" id="primary-col" ng-if="!selected">
  <md-content layout="column" flex class="md-padding">
    <h2>
      Date: {{ editionDate }}
    </h2>
    <p style="font-size: 30px;">Fill me up with some summary of the daily activity (some charts maybe?)</p>
  </md-content>
</div>
