/* Timeline
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

#timeline {
  margin-top: 6rem;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  h5 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
  }

  ul {
    margin-bottom: 3rem;
  }

  li {
    font-size: 88%;
  }

  .button {
    padding: 0 1rem;
  }

  .issue-state {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    color: white;
  }

  .open {
    background-color: green;
  }

  .closed {
    background-color: red;
  }
}

// Mobile screens
@media (max-width: 40.0rem) {
  #timeline h5 {
    text-align: center;
  }
}
