/* Timeline
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

#timeline {
  margin-top: 6rem;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  h5 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
  }

  ul {
    margin-bottom: 3rem;
  }

  li {
    font-size: 88%;
  }

  p {
    margin-bottom: 0;
  }

  section > ul > li {
    list-style-type: disc;
  }

  .button {
    padding: 0 1rem;
  }

  .badge {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    color: white;
  }

  .new {
    background-color: gray;
  }
  .open, .merged {
    background-color: green;
  }
  .closed {
    background-color: red;
  }
}

// Mobile screens
@media (max-width: 40.0rem) {
  #timeline h5 {
    text-align: center;
  }
}
